.lt_search {
  padding: 10px;
}
.lt_search button {
  right: 10px;
}
.lt_content .sort {
  padding: 0 10px;
  background-color: #eee;
}
.lt_content .sort li {
  float: left;
  width: 25%;
  height: 30px;
  line-height: 30px;
}
.lt_content .sort li.active span {
  color: darkorange;
}
.lt_content .sort a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.lt_content .sort a span {
  font-size: 12px;
  color: #333;
}
.lt_content .brand {
  padding: 5px;
}
.lt_content .brand li {
  width: 50%;
  padding: 5px;
  float: left;
  text-align: center;
  box-sizing: border-box;
}
.lt_content .brand a {
  display: block;
  padding: 10px;
  border: 1px solid #666;
}
.lt_content .brand p {
  height: 40px;
  font-size: 14px;
}
.lt_content .brand span {
  color: red;
  line-height: 30px;
}
.lt_content .brand del {
  padding: 0 5px;
  color: #666;
  line-height: 30px;
}
.lt_content .brand button {
  background-color: #007aff;
  color: #fff;
}
